<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PUPSTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Pupster</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">PuPsteR |</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          @* <a class="nav-item nav-link" href="#aboutPupster">About</a> *@
          <a class="nav-item nav-link" href="/dogs">View Dogs</a>
          <a class="nav-item nav-link" href="/adopters">Quiz</a>
          <a class="nav-item nav-link" href="/dogs/new">Add Dog</a>
        </div>
      </div>
    </nav>
    @RenderBody()
      <footer>
        @* <a href="#"><img src="img/fbicon.png" alt="facebook icon"></a> <a href="#"><img src="img/igicon.png" alt="instagram icon"></a>
        <br> *@
        <br>
      <p><a href="mailto:teampupster.epicodus@gmail.com">Email</a> | ©2019 | Pupster </p>
    </footer>
  </body>
</html>
