@using Pupster.Models;
@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <title>Pupster</title>
</head>
<body>

  <div class="main-new">
    <div class="main-1-content">
      <div class="new-1">
        <div class="formText">

      <h2 id="quiz">Pupster Quiz</h2>
      <h6 id="quiz">Take this quick quiz that uses a unique algorithm to match you <br>to a pup that most closely meets your ideal pet needs.</h6>


      <form action="/adopter" method="post">
        <input id="adopterId" name="adopterId" type="hidden">
        <hr>
        <label for="question1" class="one">What age are you looking for?</label><br>
        <input type="radio" name="question1" value="puppy" > Puppy &nbsp; &nbsp;
        <input type="radio" name="question1" value="young">  Young &nbsp; &nbsp;
        <input type="radio" name="question1" value="adult">  Adult&nbsp; &nbsp;
        <input type="radio" name="question1" value="senior">  Senior&nbsp; &nbsp;

        <hr>
        <label for="question2" class="one">What gender are you looking for?</label><br>
        <input type="radio" name="question2" value="Male"> Male &nbsp; &nbsp;
         <input type="radio" name="question2" value="Female"> Female<br>
        <br>
        <hr>
        <label for="question3" class="one">How much dog can you handle?</label><br>
        <input type="radio" name="question3" value="small"> Small &nbsp; &nbsp;<input type="radio" name="question3" value="med"> Medium&nbsp; &nbsp;<input type="radio" name="question3" value="large"> Large<br>
        <br>
        <hr>
        <label for="question4" class="one">Will I need to get along with children?</label><br>
        <input type="radio" name="question4" value="true"> Yes  &nbsp; &nbsp;
        <input type="radio" name="question4" value="false"> No<br>
        <br>
        <hr>
        <label for="question5" class="one">Will there be any bossy cats?</label><br>
        <input type="radio" name="question5" value="true"> Yes &nbsp; &nbsp;
         <input type="radio" name="question5" value="false"> No<br>
        <br>
        <hr>
        <label for="question6" class="one">Will I get a doggy sibling or two?</label><br>
        <input type="radio" name="question6" value="true"> Yes &nbsp; &nbsp;
        <input type="radio" name="question6" value="false"> No<br>
        <br>
        <hr>
        <label for="question7" class="one">Is it ok if I have accidents in the house?</label><br>
        <input type="radio" name="question7" value="true"> Yes&nbsp; &nbsp;
         <input type="radio" name="question7" value="false"> No<br>
        <br>
        <hr>
        <label for="question8" class="one">Will I be home alone often?</label><br>
        <input type="radio" name="question8" value="true"> Yes &nbsp; &nbsp;
        <input type="radio" name="question8" value="false"> No<br>
        <br>
        <hr>
        <label for="question9" class="one">How active are you?</label><br>
        <input type="radio" name="question9" value="low"> Well acquainted with the couch <br> <input type="radio" name="question9" value="medium"> I'm pretty active <br> <input type="radio" name="question9" value="high"> I need a dog that can keep up with me
        <br><br><hr>
        <label for="question10" class="one">Will we go on fun road trips?</label><br>
        <input type="radio" name="question10" value="true"> Yes &nbsp; &nbsp;
        <input type="radio" name="question10" value="false"> No<br><br><hr>
        <label for="question11" class="one">Do you mind lots of dog fur?</label><br>
        <input type="radio" name="question11" value="true"> Yes &nbsp; &nbsp;
        <input type="radio" name="question11" value="false"> No<br><br><hr>
        <label for="question12" class="one">Which describes you best?</label><br>
        <input type="radio" name="question12" value="true"> Introvert (Shy) &nbsp; &nbsp;<input type="radio" name="question12" value="false"> Extrovert (Social!)
        <br>
        <br>
        <br>
        <hr>
        <button type="submit" class="btn btn-dark">See Results!</button>
      </form>
      <br>
      <br>
    </div>
    </div>
    </div>
  </div>
</body>
</html>
