@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <title>Pupster</title>
</head>
<body>

  <div class="main-1">
    <div class="main-1-content">
      <h1>PuPsteR</h1>
      <h2>Find your perfect match</h2>
    </div>
    <div class="main-quiz">
      <form action="/adopters" method="get">
        <button type="submit" name="button" class="btn btn-dark">Start Quiz</button>
      </form>
      <br>
      <form action="/dogs" method="get">
        <button type="submit" name="button" class="btn btn-dark">View All Dogs</button>
      </form>

    </div>
  </div>

  <div class="box-1">
    <div id="aboutPupster">

      <h1>About Pupster</h1>
      <hr>
      <p>Pupster is a searchable online database and resource that helps match rescue dogs to potential adopters by taking a 1 minute quiz, or browsing local dogs for adoption in their area. As of right now, Oregon is the available search area but we plan to expand nationwide. Pupster allows its users to find their perfect match, browse adoptable dogs and rescues to be able to find adopters and foster homes for dogs in need. Pupster has created a unique quiz and algorithm that matches potential adopters to a dog in the database by answering a handful of questions to help you find your match. Why wait? Find your perfect pup today!</p>
      <hr>


      <div class="container">
        <div class="row">
          <div class="col-md">
            <h1>Why Adopt?</h1>
            <hr>
            <p>Each year, 2.7 million adoptable dogs and cats are euthanized in the United States, simply because too many pets come into shelters and too few people consider adoption when looking for a pet.

              The number of euthanized animals could be reduced dramatically if more people adopted pets instead of buying them. When you adopt, you save a loving animal by making them part of your family and open up shelter space for another animal who might desperately need it.</p>
            </div>
            
            <div class="col-md">
              <h1>Find a local rescue</h1>
              <hr>
              <iframe width="600" height="450" frameborder="1" style="border:1" src="https://www.google.com/maps/embed/v1/search?q=animal%20shelter%20near%20Oregon%2C%20USA&key=AIzaSyAPLzIHTihSy3Y8R09Cep7qloxVkh9olrI" allowfullscreen></iframe>
            </div>

            <div class="col-md">
              <h1>Resources</h1>
              <hr>
              <a href="https://theshelterpetproject.org/why-adopt/">About Pet Adoption</a>
              <br>
              <a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Why Adopt</a>
              <br>
              <a href="https://www.petpoisonhelpline.com/poisons/">Pet Poison Hotline</a>
              <br>
              <a href="https://resources.bestfriends.org/article/bringing-new-dog-home-preventing-problems?_ga=2.4269431.578442113.1558551628-332929076.1558551628">Bringing a new dog home</a>
              <br>
              <a href="https://www.bringfido.com/">Bring Fido</a>
              <br>
              <a href="https://www.nationalparks.org/connect/blog/dont-leave-fido-home">7 Dog-Friendly National Parks</a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>
  </html>
