@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <title>Pupster</title>
</head>
<body>

  <div class="main-1">
    <div class="main-1-content">
      <h1>PuPsteR</h1>
      <h2>Find your perfect match</h2>
    </div>
    <div class="main-quiz">
      <form action="/dogs" method="post">
        <button type="submit" name="button" class="btn btn-dark">View All Dogs</button>
      </form>
      <a href="/dogs">View All Dogs</a>

    </div>
  </div>

  <div class="box-1">
    <h1>About Pupster</h1>
    <hr>
    <p>Pupster is a shelter dog companion matching quiz to help you find your perfect shelter dog match based on a personality quiz, similar to a dating website!</p>
  </div>

  <div class="main-2">
  </div>
  <div class="contact">
    <h1>Contact</h1>
    <hr>
    <a href="mailto:heather.zurek@gmail.com">Email</a> | <a href="#">Facebook</a> | <a href="#">Instagram</a> <br>
  </div>

</body>
</html>
