@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <title>Pupster</title>
</head>
<body>

  <div class="main-1">
    <div class="main-1-content">
      <h1>PuPsteR</h1>
      <h2>Find your perfect match</h2>
    </div>
    <div class="main-quiz">
      <form action="/adopters" method="get">
        <button type="submit" name="button" class="btn btn-dark">Start Quiz</button>
      </form>
      <br>
      <form action="/dogs" method="get">
        <button type="submit" name="button" class="btn btn-dark">View All Dogs</button>
      </form>

    </div>
  </div>

  <div class="box-1">
    <h1>About Pupster</h1>
    <hr>
      <p>Pupster is a searchable database and resource that helps match rescue dogs to adopters. It allows its users to find their perfect match, browse adoptable dogs and rescues to be able to find adopters and foster homes for dogs in need. Pupster has created a unique quiz and algorithm that matches potential adopters to a dog in the database by answering a handful of questions to help you find your match.</p>
      <hr>
      <h1>Why Adopt?</h1>
      <p>Most of the puppies sold in pet stores or online originate from puppy mills, commercial dog-breeding facilities that focus on increasing profit with little regard for the health and welfare of the animals. Although puppy mills in the U.S. are legal, a vast majority aren’t regulated. Practices and conditions in most puppy mills are unethical and downright abhorrent in many cases. Dogs live in filthy conditions without adequate food, water or veterinary care. And female dogs are bred at every opportunity with little to no recovery time between litters. Inbreeding is also a huge problem.

      Because of these conditions, puppy mills often produce animals with serious health problems down the road. And this translates to hefty vet bills for you. Many pet stores also don’t socialize their animals, which can lead to potential behavioral problems that aren’t ideal for a family pet. Adopting a pet, however, has a ton of advantages. The ASPCA reports that roughly 6.5 million companion animals enter shelters every year.</p>
      <br>
      <a href="https://theshelterpetproject.org/why-adopt/">About Pet Adoption</a>
      <br>
      <a href="https://www.petpoisonhelpline.com/poisons/">Pet Poison Hotline</a>
      <br>
      <a href="https://www.petpoisonhelpline.com/blog/introducing-new-dog-home-resident-dogs/">Introducing a new dog</a>
      <br>
      <a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Why Adopt</a>
      <hr>
      <h1>Find a local rescue</h1>
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Dog%20rescues&key=AIzaSyAPLzIHTihSy3Y8R09Cep7qloxVkh9olrI" allowfullscreen></iframe>
    </div>

  </body>
  </html>
